*
{
    margin: 0;
    padding: 0;
}

.row
{
    display: flex;
    flex-flow: row;
}

.col
{
    display: flex;
    flex-flow: column;
}

.col > div
{
    width: 100%;
}

.row > div
{
    height: 100%;
}

.center
{
    align-items: center;
    justify-content: center;
}

#menu > li
{
    justify-content: center;
    display: inline;
    padding: 15px;
}
#menu > li > a
{
    text-decoration: none;
    color: black;
}
#menu > li > a:hover
{
    color: gray;
}

/***index.html***/
.screen-margin
{
    background-color: rgb(97, 74, 74);
    overflow: visible;
}

.border
{
    border-radius: 50%;
}

.justify
{
    text-align: justify;
}